main{
    display: grid;
    grid-template-columns: 62% 38%;
    font-family: 'railway','Lucida Sans',;
    font-size: 1em;
}
hr{
    border:none;;
    background-color:rgb(150, 150, 150);
    height:1px;
}
a{
  color: rgb(7, 24, 63);
  text-decoration: none;
  font-style: normal;  
}
a:hover{
    color: rgb(0, 0, 0);
    font-style: oblique;
    font-weight: bold;
    transition-duration: 0.25s;
}
li{
    margin-left: 0px;
    padding-left: 0%;
}
li::marker{
    color: rgba(0, 80, 134, 0);
    margin-left: 0px;
}
.project_description{
    font-size: small;
}
.project_description::marker{
    color: #080808e4;
    font-size: smaller;
}
#left{
    padding-left: 2rem;
    padding-right: 1rem;
}
details{
    padding-bottom: 1.5rem;
}
#studies{
    margin-bottom: 0px;
}
#instute{
    margin-top: 0%;
    font-size: 87%;
    font-style:oblique ;
}

#left{
    border-right: 1px solid rgb(150, 150, 150);
    /*text-align: center;*/
    
}
#title{
    font-size:1.3rem;
    margin-top: -1rem;
    margin-bottom: 1em;
}
#txt_name{
    font-size: 2rem;
    /* text-shadow: 0px 0px 45px rgba(15, 164, 184, 0.473); */
    margin-top: .5rem;
    margin-bottom: 0rem;
    
}
#name{
    padding-left: 2em;
    /* background-color: rgba(64, 153, 209, 0.542); */
    /* padding-bottom: 1%; */
    /* bottom:1em; */
}
.headings{
    text-align-last: center;
    font-size: 1.4rem;
    padding-top: 1%;
    padding-bottom: 0%;    
}
#right{
    margin-left: -1rem;
}
